<div class="container-navegation">

  <div class="container-logo">

    <span class="title-logo">
      Shopping Cart
    </span>

  </div>

  <div class="container-options">

    <div class="contaimer-scart" matBadge="15" matBadgeColor="warn">

      <img src="../../../../assets/icons/shopping_cart.svg" alt="Carrito de compras">

    </div>

    <div class="button-row">

      <button type="button" mat-raised-button color="primary" class="button-custom" [routerLink]="['/inicio']">
        Inicio
      </button>

    </div>

  </div>

</div>
