<div class="container-navegation">

  <div class="container-logo">

    <span class="title-logo">
      Shopping Cart
    </span>

  </div>

  <div class="container-options">

    <ng-container *ngIf="numArrticulos; else articulosExist">

      <div class="contaimer-scart" [matBadge]="numArrticulos" matBadgeColor="warn" [routerLink]="['/compra-articulos/productos-carrito']">

        <img src="../../../../assets/icons/shopping_cart.svg" alt="Carrito de compras">

      </div>

    </ng-container>
    <ng-template #articulosExist>

      <div class="contaimer-scart" [routerLink]="['/compra-articulos/productos-carrito']">

        <img src="../../../../assets/icons/shopping_cart.svg" alt="Carrito de compras">

      </div>

    </ng-template>


    <div class="button-row">

      <button type="button" mat-raised-button color="primary" class="button-custom" [routerLink]="['/inicio']">
        Inicio
      </button>

    </div>

  </div>

</div>
